.Nike {
  height: 100vh;
  width: 100%;
  background: white;
  font-family: Arial, Helvetica, sans-serif; }

.header-container {
  position: fixed;
  top: 0;
  background: white; }

.nike-header {
  width: 100vw;
  height: 40px;
  color: #8d8d8d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #E5E5E5; }
  .nike-header .header-left {
    width: 430px;
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 13px; }
    .nike-header .header-left div {
      border-right: 1px solid #E5E5E5;
      padding: 0 29px 0 29px;
      height: 100%;
      display: flex;
      align-items: center; }
  .nike-header .header-right {
    margin-right: 20px;
    width: 328px;
    display: flex;
    justify-content: space-around; }

.menu {
  height: 68px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #E5E5E5; }
  .menu .menu-center {
    display: flex; }
    .menu .menu-center div {
      color: black;
      font-size: 15px;
      font-weight: 700;
      padding: 0 20px 0 20px; }

.ad {
  margin-top: 108px;
  width: 100%;
  height: 60px;
  background: #f7f7f7; }

.landing-pic {
  width: 100%; }
  .landing-pic img {
    width: 100%; }

.section-break {
  height: 16.5vw;
  width: 100%;
  border-bottom: 1px solid #E5E5E5;
  display: flex;
  justify-content: center;
  padding: 20px; }
  .section-break .break-content {
    width: 400px; }
  .section-break .break-content-top {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center; }
    .section-break .break-content-top .break-header {
      font-size: 23.98px;
      margin-bottom: .375em;
      color: #222;
      font-weight: 400;
      font-family: OneNikeCurrency,'TradeGothicW01-BoldCn20 675334',Helvetica,Arial,sans-serif;
      font-style: normal;
      font-weight: 700;
      word-spacing: -0.05em;
      letter-spacing: -0.045em;
      line-height: 23.98px; }
    .section-break .break-content-top .break-info {
      font-size: 11.2406px;
      line-height: 17.4887px;
      letter-spacing: 0.337219px;
      word-spacing: -0.05em;
      font-weight: lighter;
      color: #222; }
      .section-break .break-content-top .break-info span {
        margin-bottom: .375em; }
    .section-break .break-content-top .break-content-bottom {
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 50%;
      font-size: 11.2406px; }

.shoe-title {
  height: 5.813vw;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 0 0 40px; }
  .shoe-title span {
    color: #222;
    font-size: 20px;
    font-weight: bold; }

.shoes {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 0 45px 0 45px; }

.shoe-container {
  display: flex;
  flex-direction: column;
  width: 100%; }
  .shoe-container img {
    width: 22vw; }
  .shoe-container .shoe-name {
    margin-top: 25px;
    line-height: 1.2em;
    letter-spacing: .03em;
    margin-bottom: .625em;
    font-size: .9375em;
    color: #222;
    font-style: normal;
    font-weight: 400; }

.shoe-container:nth-child(1n) {
  margin-right: 10px; }

.shoe-container:nth-child(4) {
  margin: 0px !important; }

.running-pic {
  width: 100%;
  margin-top: 20px; }
  .running-pic img {
    width: 100%; }

.bras-pic {
  width: 100%; }
  .bras-pic img {
    width: 100%; }

.couple-pic {
  margin-top: 50px;
  width: 100%; }
  .couple-pic img {
    width: 100%; }

.footer-container {
  margin-top: -3px;
  width: 100%;
  height: 307px;
  background-color: #191919; }
