@import url('https://fonts.googleapis.com/css?family=Roboto');

.App {
    // background-color: #222;  
    width: 100%;  
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
  .header {
    text-align: center;    
    background-color: #222;  
    width: 100%;
    height: 150px;
    // margin: 20px;
    padding: 40px;
    color: white;
  }
  
  .title {
    font-size: 1.8em;
  }

  .img-link{
    width: 275px;
    height: 150px;
    background-color: #222;  
    position: relative;
  }

  .body{
    width:90%;
    background: white;

    .link-container1{
      margin-top: 30px;
      padding-top: 20px;
      height: 170px;
      width: 100%;
      // background: rgba(0, 0, 0, 0.119);
      display: flex;
      flex-direction: row;
        .img-link1{
          @extend .img-link;
        }
        .link-info1{
          width: 300px;
          h2{
            font-size: 25px;
            margin: 10px 0 0 20px;
            color: rgb(23, 22, 22);
          }
          h2:hover{
            cursor: pointer;
          }
          p{
            font-size: 18px;
            margin: 10px 0 0 20px;
          }
        }
    }

    .link-container2{
      @extend .link-container1;
      flex-direction: row-reverse;
        .link-info2{
          @extend .link-info1;
          text-align: right;
          margin-right: 20px;        
        }
        .img-link2{
          @extend .img-link;
          float: right;
        }
    }

    .link-container3{
      @extend .link-container1;
        .link-info3{
          @extend .link-info1;
        }
        .img-link3{
          @extend .img-link;
        }
    }

    .link-container4{
      @extend .link-container1;
      flex-direction: row-reverse;
        .link-info4{
          @extend .link-info1;
          text-align: right;
          margin-right: 20px;        
        }
        .img-link4{
          @extend .img-link;
          float: right;
        }
    }
  }
  

  